[submodule "modules/ms-tpm-20-ref"]
	path = modules/ms-tpm-20-ref
	url = https://github.com/microsoft/ms-tpm-20-ref
[submodule "modules/swtpm"]
	path = modules/swtpm
	url = https://github.com/stefanberger/swtpm
[submodule "modules/tpm2-tools"]
	path = modules/tpm2-tools
	url = https://github.com/tpm2-software/tpm2-tools
[submodule "modules/tpm2-tss"]
	path = modules/tpm2-tss
	url = https://github.com/tpm2-software/tpm2-tss
[submodule "modules/openssl"]
	path = modules/openssl
	url = https://github.com/openssl/openssl
[submodule "modules/tpm2-abrmd"]
	path = modules/tpm2-abrmd
	url = https://github.com/tpm2-software/tpm2-abrmd
